html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  background-color: $white;
  color: $main;
}

.body {
  &--overlow {
    overflow-y: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 60px;
  display: inline-block;
  position: relative;

  @include r(992) {
    font-size: 40px;
  }

  @include r(768) {
    font-size: 34px;
    margin-bottom: 45px;
  }

  @include r(576) {
    font-size: 28px;
    margin-bottom: 30px;
  }

  &::after {
    @include pseudo;
    width: 95%;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
    background-color: rgba(35, 82, 222, 0.1);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: 600;
  font-size: 18px;
  padding: 12px 24px;
  background-color: $btn;
  color: $white;
}

.p-140 {
  padding: 140px 0;

  @include r(992) {
    padding: 100px 0;
  }

  @include r(768) {
    padding: 70px 0;
  }

  @include r(576) {
    padding: 50px 0;
  }
}

.pt-70 {
  padding: 70px 0 140px;

  @include r(992) {
    padding: 50px 0 100px;
  }

  @include r(768) {
    padding: 35px 0 70px;
  }

  @include r(576) {
    padding: 25px 0 50px;
  }
}

.pb-70 {
  padding: 140px 0 70px;

  @include r(992) {
    padding: 100px 0 50px;
  }

  @include r(768) {
    padding: 70px 0 35px;
  }

  @include r(576) {
    padding: 50px 0 25px;
  }
}

.center {
  @include r(576) {
    text-align: center;
  }
}

.up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  transform: translateY(100px);
  transition: transform .5s;

  &__icon {
    display: block;
  }

  &--visible {
    transform: translateY(0);
  }
}