.about {
  &__text {
    font-size: 18px;
    line-height: 1.6;

    @include r(576) {
      font-size: 16px;
      text-align: left;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}