.contact {
  &__inner {
    display: flex;
    justify-content: space-between;

    @include r(992) {
      display: block;
    }

    @include r(576) {
      text-align: left;
    }
  }

  &__content {
    width: 530px;
    margin-right: 50px;

    @include r(992) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include r(576) {
      margin-bottom: 32px;
    }
  }

  &__text {
    line-height: 1.6;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 20px;

    @include r(992) {
      margin-bottom: 30px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    display: inline-block;
    color: $btn;
    outline: transparent;
    transition:
      box-shadow 0.3s,
      border-radius 0.3s,
      opacity 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($btn, 0.5);
      border-radius: 3px;
    }

    &:hover {
      text-decoration-line: underline;
    }

    &:active {
      opacity: 0.7;
      box-shadow: none;
      border-radius: 0;
      text-decoration: none;
    }
  }

  &__form {
    width: 540px;

    @include r(1200) {
      flex: none;
      width: 475px;
    }

    @include r(992) {
      width: 100%;
    }
  }

  &__box {
    display: flex;
    margin-bottom: 30px;

    @include r(576) {
      display: block;
      margin-bottom: 15px;
    }
  }

  &__label {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    display: block;
  }

  &__label--name {
    margin-right: 30px;

    @include r(576) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__label--message {
    margin-bottom: 30px;

    @include r(576) {
      margin-bottom: 15px;
    }
  }

  &__input,
  &__textarea {
    padding: 13px 15px;
    margin-top: 10px;
    background-color: $bg;
    outline: transparent;
    transition: box-shadow 0.3s;

    &::placeholder {
      font-size: 14px;
      color: $placeholder;
      transition: color 0.3s;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba($btn, 0.5);
    }

    &:hover {
      &::placeholder {
        color: $black;
      }
    }
  }

  &__input {
    width: 100%;
  }

  &__textarea {
    width: 100%;
    display: block;
    min-height: 115px;
  }
}

.social {
  display: flex;
  align-items: center;

  &__item {
    width: 44px;
    height: 46px;

    &:not(:last-child) {
      height: 44px;
      margin-right: 20px;
    }

    &:first-child .social__link:active {
      box-shadow: 3px 3px 15px rgba($black, 0.15);
      border-radius: 13px;
    }

    &:nth-child(2) .social__link:active {
      box-shadow: 3px 3px 15px rgba($black, 0.15);
      border-radius: 6px;
    }

    &:last-child .social__link:active {
      box-shadow: 3px 3px 15px rgba($black, 0.15);
      border-radius: 0;
    }
  }

  &__link {
    display: inline-block;
    height: inherit;
    position: relative;
    outline: transparent;
    background-color: transparent;
    transition:
      box-shadow 0.3s,
      border-radius 0.3s,
      opacity 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($btn, 0.5);
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }
}