.header {
  padding: 75px 0 30px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include r(992) {
    padding-top: 50px;
  }

  @include r(768) {
    padding-top: 35px;
  }

  @include r(576) {
    padding-top: 15px;
  }

  &::before {
    @include pseudo;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($btn, 0.5);
  }

  &__top {
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(768) {
      position: absolute;
      z-index: 5;
      top: 35px;
      left: 0;
      right: 0;
      padding: 0 15px;
      transition:
        top 0.5s,
        padding 0.5s,
        background-color 0.5s;
    }
  }

  &__top--scroll {
    position: fixed;
    top: 0;
    padding: 10px 15px;
    background-color: $footer;

    .menu {
      top: 65px;

      @include r(576) {
        top: 70px;
      }
    }
  }

  &__logo {
    position: relative;
    z-index: 5;
  }

  &__btn {
    display: none;

    @include r(768) {
      display: block;
      width: 30px;
      height: 22px;
      position: relative;
      z-index: 5;
    }

    &::before,
    &::after {
      @include r(768) {
        @include pseudo;
        width: 30px;
        height: 2px;
        left: 0;
        background-color: $white;
        transition: transform 0.5s;
      }
    }

    &::before {
      @include r(768) {
        top: 0;
      }
    }

    &::after {
      @include r(768) {
        bottom: 0;
      }
    }
  }

  &__btn--active {
    .header__btn-line {
      @include r(768) {
        opacity: 0;
        transform: rotate(135deg);
      }
    }

    &::before {
      @include r(768) {
        transform: rotate(135deg);
        top: 10px;
      }
    }

    &::after {
      @include r(768) {
        transform: rotate(-135deg);
        bottom: 10px;
      }
    }
  }

  &__btn-line {
    @include r(768) {
      display: block;
      width: 30px;
      height: 2px;
      background-color: $white;
      transition: opacity 0.5s, transform 0.5s;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    height: calc(100vh - (75px + 30px + 53px));
    display: flex;
    flex-direction: column;

    @include r(992) {
      height: auto;
    }
  }

  &__title {
    margin-top: auto;
    margin-bottom: 20%;
    font-size: 48px;
    color: $white;

    @include r(992) {
      margin-top: 20%;
    }

    span {
      display: block;
    }
  }

  &__greeting {
    font-size: 48px;
    display: block;

    @include r(1200) {
      font-size: 40px;
    }

    @include r(992) {
      font-size: 32px;
    }

    @include r(768) {
      font-size: 28px;
    }
  }

  &__profession {
    font-weight: 700;
    font-size: 90px;
    display: block;

    @include r(1200) {
      font-size: 75px;
    }

    @include r(992) {
      font-size: 60px;
    }

    @include r(768) {
      font-size: 48px;
    }

    @include r(576) {
      font-size: 40px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    color: $white;
    padding-bottom: 33px;
    margin: 0 auto;
    position: relative;
    outline: transparent;
    transition:
      box-shadow 0.3s,
      border-radius 0.3s,
      opacity 0.3s;

    @include r(576) {
      font-size: 14px;
    }

    &::after {
      @include pseudo;
      width: 37px;
      height: 23px;
      @include sprite(arrow-down-icon);
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($white, 0.5);
      border-radius: 3px;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.7;
      text-decoration: none;
      box-shadow: none;
      border-radius: 0;
    }
  }
}

.logo {
  outline: transparent;
  transition: box-shadow 0.3s, opacity 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 3px $btn;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
    box-shadow: none;
  }

  &__img {
    @include r(992) {
      width: 135px;
    }

    @include r(576) {
      width: 110px;
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 15px;
  transition:
    top 0.5s,
    padding 0.5s,
    background-color 0.5s;

  @include r(992) {
    top: 11px;
  }

  // Просто никак без этого медиа-запроса, все остальные медиа как по канону
  @include r(825) {
    top: 70px;
    left: 0;
  }

  @include r(768) {
    z-index: 4;
    top: 45px;
    background-color: $menu-mobile;
    transform: translateY(-500px);
    transition: transform 0.5s;
    padding: 10px 0;

    &.menu--open {
      transform: translateY(0);
    }
  }

  @include r(576) {
    padding-top: 70px;

    &.menu--open {
      position: fixed;
      top: 0;
      bottom: 0;
    }
  }

  &__list {
    display: flex;

    // Аналогичная ситуация
    @include r(825) {
      justify-content: center;
    }

    @include r(768) {
      display: block;
    }
  }

  &__item {
    @include r(768) {
      text-align: center;
    }

    &:not(:last-child) {
      margin-right: 35px;

      @include r(992) {
        margin-right: 25px;
      }

      @include r(768) {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    color: $white;
    outline: transparent;
    transition:
      box-shadow 0.3s,
      border-radius 0.3s,
      opacity 0.3s,
      background-color 0.3s;

    @include r(768) {
      display: block;
      padding: 11px 0;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($white, 0.5);
      border-radius: 3px;

      @include r(768) {
        box-shadow: none;
        border-radius: 0;
      }
    }

    &:hover {
      text-decoration: underline;

      @include r(768) {
        text-decoration: none;
      }
    }

    &:active {
      opacity: 0.7;
      text-decoration: none;
      box-shadow: none;
      border-radius: 0;

      @include r(768) {
        background: rgba(35, 82, 222, 0.7);
        opacity: 1;
      }
    }
  }

  &--scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 15px;
    background-color: $footer;

    .menu__list {
      justify-content: center;
    }
  }
}