.skills {
  background-color: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(768) {
      flex-direction: column;
    }
  }

  &__img {
    @include r(1200) {
      width: 350px;
      margin-right: 60px;
    }

    @include r(992) {
      width: 275px;
      margin-right: 45px;
    }

    @include r(768) {
      width: 300px;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__list {
    width: 664px;

    @include r(768) {
      max-width: 600px;
      width: 87%;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(768) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 86px;

      @include r(992) {
        margin-bottom: 50px;
      }

      @include r(768) {
        margin-bottom: 24px;
      }
    }
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;

    @include r(768) {
      margin-bottom: 5px;
    }
  }

  &__name--html {
    margin-right: 13px;

    @include r(768) {
      margin-right: 0;
    }
  }

  &__name--css {
    margin-right: 32px;

    @include r(768) {
      margin-right: 0;
    }
  }

  &__name--js {
    margin-right: 47px;

    @include r(768) {
      margin-right: 0;
    }
  }

  &__fullbar {
    position: relative;
    width: 100%;
    height: 32px;
    background-color: $fullbar;
  }

  &__progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    background-color: $btn;
    display: inline-block;
  }
}